.father{
    width: 1500px;
    height: 690px;
    margin: auto;
    background-color: #FF7235;
    padding: 30px;
    border: 2px solid red;
   
}

.image{
display: flex;
justify-content: center;
    

}
.nav{
    width: 1500px;
    height: 160px;
    border: 2px solid red;
    margin: auto;
    
}
.img1{
    margin-top: 50px;
    width: 1500px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
body{
    margin: 50px;
}